/* Normalize CSS */

/* Font - Fontshare */
@import url('https://api.fontshare.com/v2/css?f[]=aktura@400&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=panchang@400,500,600,700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@400&display=swap');

body {
    background: linear-gradient(to right, hsl(9deg 43% 20%), hsl(216deg 71% 10%));


}

.site-title {
    text-align: center;
    color: hsl(35deg 91 78);
    font-family: 'Aktura', serif;
    font-size: 10em;
    text-shadow:   /* larger white glow */
             0 0 50px hsl(35deg 91 78),
             0 0 5px hsl(35deg 91 85);
    margin-bottom: 0;
    padding-top: .3em;
    border-top: 1px solid hsl(35deg 91 78);
}


.site-description {
    text-align: center;
    border-bottom: 1px solid hsl(35deg 91 78);
   color: white;
    font-family: 'Panchang', sans-serif;
    padding-bottom: 2em;
}


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    display: grid;
    gap: 10rem; 
    padding: 0;
    margin: 0;
    
}

.card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px;
    height: 300px; */
    width: 100%;
    height: 100%;
    margin-top: 30px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px hsl(35deg 91 78);
    transition: transform 0.6s ease, box-shadow 0.3s ease;
    
}


.card-item img { 
    width: 100%;
    height: 100%;
    object-fit: fill;
    flex-shrink: 0;
    transform: scale(1.1);
    transition: 1s ease;
}
    
.cards a {
display: block;
margin-bottom: 1em;
text-decoration: none;
}

.caption {
  padding: 1em;
  /* background: linear-gradient(to right,
      hsla(35deg, 85%, 54%, .7),
      hsla(194deg, 85%, 54%, .7)
  ); */
  background: transparent;
  color: white;
  font-size: 1.2em;
  transition: all 0.4s;
  transform: rotateX(180deg);
  text-shadow: 2px 2px 4px hsl(0, 0%, 0%);

}

a:focus .caption,
a:hover .caption {
  background: linear-gradient (
    to bottom, 
    hsla(35deg, 85%, 54%, 0.85), 
    hsla(214deg, 67%, 25%, 0.85)
  );
  transform: scale(1);
}

.card-item:hover {
    background: linear-gradient(
      45deg,
      hsl(35deg, 91%, 78%),
      hsl(0deg, 0%, 100%),
      hsl(21deg, 73%, 62%),
      hsl(0deg, 0%, 100%),
      hsl(35deg, 91%, 78%),
      hsl(21deg, 73%, 62%)
    );
    background-size: 600% 600%; 
    transform: scale(1.05);
  }
  
  .card-item:hover {
    animation: gradient-slide 5s ease infinite;
  }
  
  @keyframes gradient-slide {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  

.caption-title {
margin: 0;
font-size: 1.4em;
line-height: 1.1em;
font-family: 'Panchang', sans-serif;
}

p {
    font-family: 'Cabinet Grotesk', sans-serif;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 30em) {
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.cards a {
    margin-bottom: 0;
}

.card {
    display: grid;
}

.card img,
.caption {
    grid-column: 1;
    grid-row: 1;
}

.caption {
    display: flex;
    flex-direction: column;
    opacity: 0;

    /* Alignment */
    /*     align-items: flex-end; */
    /*     justify-content: flex-end; */
}

a:focus .caption,
a:hover .caption {
    background: hsla(35deg 91 78, 0.6);
    opacity: 1;
}
}

@media screen and (min-width: 60em) {
.cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
    margin: 0 30px 0 30px;
}
}
